h1= title
p Feedback entries:


- each feedback in feedbacks
	div.feedback
		- var timestamp = feedback._id.toString().substring(0,8);
		- var date = new Date( parseInt( timestamp, 16 ) * 1000 );
		p #{date}
		a(href="/feedback/"+feedback._id) #{feedback.url}
		p Message: #{feedback.message}
		p Dom: #{feedback.dom}
		p Additional Info: #{feedback.additional_info}
